/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    background: linear-gradient(rgb(0,0,0,0.5), rgb(0, 0, 0, 0.5)), url(../gund_img/gund2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    overflow-y: hidden;
}

.container{
    width: 80vw;
    height: 80vh;
    margin: 10vh auto;
    background: #fff;
    background: linear-gradient(rgb(255, 255, 255, 1), rgb(255, 255, 255, 1));
    /* padding-top: 20px; */
    border-radius: 20px;
    align-items: center;
    display: flex;
}

.flex-container {
    flex-direction: row;
    /* background: blue; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.carousel-container {
    padding: 50px 50px;
    position: relative;
    max-width: 40rem;
    margin: 0 auto;
    /* background: brown; */
}

.slider-wrapper {
    position: relative;
    max-width: 36rem;
    margin: 0 auto;
}

.slider {
    display: flex;
    aspect-ratio: 4/3;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius: 0.5rem;
}

.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #bc6c25;
    opacity: 0.75;
    transition: opacity ease 250ms;

}

.slider-nav a:hover{
    opacity: 1;
}

.information-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    /* background: green; */
}

/* Drop down menu to choose an art piece */
.selector-container {
    justify-content: center;
    text-align: center;
    padding: 10px 30px 30px 30px;
}

#select-text {
    border: none;
}

#slct {
    font-size: 20px;
    border-color:#bc6c25;
    background-color: #fff;
    border-radius: 0.5em;
    padding: 5px 10px;
}

/* Button to choose an emoji to react to */
.rate-container {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
}

.choose-button {
    background-color:#fff;
    border-color: #bc6c25;
    box-shadow: none;
    color: #bc6c25;
    font-size: 15px;
    border-radius: 5px;
    padding: 7px 10px;
    margin-top: 0px;
    cursor:pointer;
    align-items: center;
}

.choose-button:hover {
    background-color: #bc6c25;
    border-color: #bc6c25;
    color: #fff;
}

.word-box .dropdown {
    width: 50vh;
    text-align: center;
    margin: auto;
    padding: 10px 10px;
}

.word-box p{
    color: #bc6c25;
    font-size: 25px;
    letter-spacing: 1px;
    padding: 20px 10px;
    text-align: center;
}

/* Pop up window */
#popup {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.75);
    z-index: 1;
    display: none;
}

#popup .popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    padding: 20px 40px;
    background: #fff;
    border-radius: 1em;
}

#popup .popup-content p{
    font-size: 25px;
    color:#582f0e;
    font-weight: 500;
}

/* 
.dropdown-menu {
    left: 0;
    top: 0;
    pointer-events: none;
    justify-content: center;
    padding: 20px 0;
}

.dropdown-menu-center {
    left: 50% !important;
    right: auto !important;
    text-align: center !important;
  }

.information-grid{
    font-size: 15px;
    display: grid;
    grid-template-columns: repeat(5,max-content);
    gap: 2rem;
}

.dropdown-emojis {
    display:flex;
    flex-direction:column;
    gap: 1rem;
    font-size: 3em;
}
 */
 
#emoji-container {
	display: flex;
	flex-direction: column;
	left: 0;
    top: 0;
    justify-content: center;
    padding: 20px 0;
}

#row-1 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#row-2 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.link {
	font-size: 6vh;
	gap: 1rem;
	cursor: pointer;
}

#popup .popup-buttons{
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
    justify-content: space-around;
}

#popup .popup-content .next-page{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: inline-block;
    background-color: #bc6c25;
    border-radius: 5px;
    padding: 7px 15px;
    letter-spacing: 1.5px;
}

#popup .popup-content .next-page:hover{
    background-color: #582f0e;
    transition: 0.5s ease;
}

#popup:target {
    display: block;
}
